/* ========== Google fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* ========== CSS Variables ========== */
:root {
    --header-height: 3.5rem;

    /* ========== Colors ========== */
    --first-color: #66fcf1;
    --first-color-alt: #45a29e;
    --title_color: #c5c6c7;
    --text-color: #a7a7a7;
    --body-color: #0b0c10;
    --container-color: #1f2833;
    
    /* font and typography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
}
/* ========= BASE STYLES & RESET =========  */
/* This is a common practice to make styling more predictable across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--title_color);
    font-weight: var(--font-semi-bold);
}

/* =========== Reusable css classes ==========  */
/* We will use these classes on multiple elements to keep our code DRY (Don't Repeat Yourself)
 */
 .section {
    padding: 6rem 0 2rem;
 }

 .section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 3rem;
 }

 .button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
 }

    .button:hover {
        background-color: var(--first-color-alt);
        color: #fff;
        transform: translateY(-.25rem);
        box-shadow: 0 .5rem 1rem rgba(102, 252, 241, .3);
    }

/* ================= Header & Navigation styles ================= */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: 100;
    border-bottom: 1px solid var(--container-color);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* We need some space on the sides */
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* On larger screens, center the container */
@media screen and (min-width: 1024px) {
    .nav {
        margin-left: auto;
        margin-right: auto;
    }
}
.nav_logo, .nav_link {
    color: var(--title_color);
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}
.nav_link:hover {
    color: var(--first-color);
}

/* ================= Home section styles ================= */
.home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container{
    text-align: center;
    max-width: 700px;
    padding: 0 1.5rem;
}

home_title{
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;

}

.home_description{
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}

/* ============= About section styles ============= */
.about_container{
    display: grid;
    gap: 2rem;
    max-width: 986px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

/* Center the container on large screens */
@media screen and (min-width: 1024px) {
    .about_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.about_img {
    width: 250px;
    height: 250px;
    background-color: var(--container-color);
    border: 5px solid var(--first-color);
    border-radius: .75rem;
    justify-self: center;
    align-self: center;
}

.about_text {
    line-height: 1.6;
    text-align: center;
}

/* =============== Responsive layout for about section =============== */
@media screen and (min-width: 768px) {
    .about_container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .about_img {
        width: 300px;
        height: 300px;
    }

    .about_text {
        text-align: left;
    }
}


/* =============== Projects section styles =============== */
.projects_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /*  Center the container */
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
/* Center the container on large screens */
@media screen and (min-width: 1024px) {
    .projects_container {
        margin-left: auto;
        margin-right: auto;
    }
}

.project_card{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .75rem;
    border: 1px solid transparent;
    transition: 0.3s;
}

.project_card:hover {
    border: 1px solid var(--first-color);
    box-shadow: 0 .5rem 1rem rgba(102, 252, 241, .3);
    transform: translateY(-.25rem);
}

.project_title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.project_description {
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.project_link{
    color: var(--first-color);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.project_link:hover {
    text-decoration: underline;
}
